Source: nosh-cs
Section: web
Priority: optional
Maintainer: Michael Shihjay Chen <shihjay2@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://noshemr.wordpress.com
#Vcs-Git: git://git.debian.org/collab-maint/nosh-cs.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/nosh-cs.git;a=summary

Package: nosh-cs
Architecture: any
Depends: mysql-server, apache2, php5, php5-mysql, php5-imap, php5-mcrypt, php5-imagick, php5-gd, php5-cli, php5-curl, php5-common, libapache2-mod-php5, libdbi-perl, libdbd-mysql-perl, libssh2-1-dev, libssh2-php, php-soap, php-pear, imagemagick, pdftk, openssh-server
Description: New Open Source Health ChartingSystem
 The NOSH ChartingSystem provides electronic medical records, personal health records, prescription writing,
 insurance billing, growth charts, vaccine management, and preventative services reminders specifically
 for the outpatient medical clinic .
 . 
 To use NOSH ChartingSystem after installation, go to http://localhost/nosh .
 .
 The NOSH ChartingSystem project home page can be found at http://noshemr.wordpress.com .
